# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ansible
ansible/inventory.ini

# Secrets
.env
*.pem
*.key
*.pub

# macOS
.DS_Store

# Maven
app/.mvn/
app/mvnw
app/mvnw.cmd

# IDE
.idea/
.vscode/

